{% extends 'home/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="{% static 'assets/dist/img/ico/favicon.png' %}" type="image/x-icon">
    <!-- Bootstrap -->
    <link href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
    <!-- Bootstrap rtl -->
    <!--<link href="assets/bootstrap-rtl/bootstrap-rtl.min.css" rel="stylesheet" type="text/css"/>-->
    <!-- Pe-icon-7-stroke -->
    <link href="{% static 'assets/pe-icon-7-stroke/css/pe-icon-7-stroke.css' %}" rel="stylesheet" type="text/css"/>
    <!-- style css -->
    <link href="{% static 'assets/dist/css/stylecrm.css' %}" rel="stylesheet" type="text/css"/>
    <!-- Theme style rtl -->
    <!--<link href="assets/dist/css/stylecrm-rtl.css" rel="stylesheet" type="text/css"/>-->
{% endblock %}

{% block body %}
    <div class="login-wrapper">
        <div class="container-center">
            <div class="login-area">
                <div class="panel panel-bd panel-custom">
                    <div class="panel-heading">
                        <div class="view-header">
                            <div class="header-icon">
                                <i class="pe-7s-refresh-2"></i>
                            </div>
                            <div class="header-title">
                                <h3>Password Reset</h3>
                                <small><strong>Please fill the form to recover your password</strong></small>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form method="POST">
                            {% csrf_token %}
                            <p>Fill with your mail to receive instructions on how to reset your password.</p>
                            <div class="form-group">
                                <label class="control-label" for="username">Email</label>
                                {{ form }}
                                <span class="help-block small">Your registered email address</span>
                            </div>
                            <button class="btn btn-add btn-block" type="submit">Reset Password</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="{% static 'assets/plugins/jQuery/jquery-1.12.4.min.js' %}" type="text/javascript"></script>
    <!-- bootstrap js -->
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
{% endblock %}
{##}
{#{% extends 'home/base.html' %}#}
{#{% load crispy_forms_tags %}#}
{##}
{#{% block head %}#}
{#    <title>Password reset</title>#}
{#    <style>#}
{##}
{#        .col1 {#}
{#            width: 30%;#}
{#        }#}
{##}
{#        @media only screen and (max-width: 768px) {#}
{#            .col1 {#}
{#                width: 95%;#}
{#            }#}
{#        }#}
{##}
{#    </style>#}
{#{% endblock %}#}
{##}
{##}
{#{% block body %}#}
{#    <br><br><br><br>#}
{##}
{#    <div class="container col1">#}
{#        <div class="card">#}
{#            <div class="card-body">#}
{#                <div class="content-section">#}
{#                    <form method="POST">#}
{#                        {% csrf_token %}#}
{#                        <fieldset class="form-group">#}
{#                            <legend class="border-bottom text-center mb-4">Reset Password</legend>#}
{#                            <p class="text-muted a">Enter your registered email id :</p>#}
{#                            {{ form|crispy }}#}
{#                        </fieldset>#}
{#                        <div class="form-group">#}
{#                            <button class="btn btn-block btn-info" type="submit">Request Password Reset</button>#}
{#                        </div>#}
{#                    </form>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <br><br><br><br><br><br><br><br><br><br>#}
{#    </div>#}
{#{% endblock %}#}
{##}
{##}
{##}
{#{% comment %} {% block body %}#}
{#      <br><br>#}
{#      <div class="text-center">#}
{#  <div class="card">#}
{#      <div class="card-body">#}
{#    <p class="display-4">Password Reset</p>#}
{#    <p> Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one. </p>#}
{#    <form method="post">#}
{#      {% csrf_token %}#}
{#      {{form.as_p}}#}
{#      <button type="submit" class="btn btn-primary">Reset Password</button>#}
{#    </form>#}
{#  </div>#}
{#  </div>#}
{#      </div>#}
{#  {% endblock %} {% endcomment %}#}
