{% extends 'home/navbar.html' %}
{% load widget_tweaks %}
{#<form action="" method="post">#}
{#    {% csrf_token %}#}
{#    {{ invoice_form.as_p }}#}
{##}
{#    <input type="submit" value="Make Invoice">#}
{#</form>#}
{% block body %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="header-icon">
                <i class="fa fa-sticky-note-o"></i>
            </div>
            <div class="header-title">
                <h1>Add Invoices</h1>
                <small>Invoices list</small>
            </div>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- Form controls -->
                <div class="col-sm-12">
                    <div class="panel panel-bd lobidrag">
                        <div class="panel-heading">
                            <div class="btn-group" id="buttonlist">
                                <a class="btn btn-add " href="{% url "sales:invoice_list" %}">
                                    <i class="fa fa-list"></i> Invoices</a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <form class="col-sm-6" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label>Customer Name</label>
                                    {% render_field invoice_form.customer class="form-control" %}
                                    {#                                 <input type="number" class="form-control" placeholder="Enter Item code" required>#}
                                </div>
                                <div class="form-group">
                                    <label>Date</label>
                                    {% render_field invoice_form.date class="form-control" %}
                                    {#                                 <input type="text" class="form-control" placeholder="Enter Item Name" required>#}
                                </div>

                                <div class="reset-button">
                                    <a href="#" class="btn btn-warning">Reset</a>
                                    <input type="submit" class="btn btn-add" value="Create Invoice">
                                    {#                                 <a href="#" class="btn btn-add" type="submit">Save</a>#}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


{% endblock %}