{% extends 'home/navbar.html' %}
{% load widget_tweaks %}
{% block body %}

     <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
               <div class="header-icon">
                  <i class="fa fa-suitcase"></i>
               </div>
               <div class="header-title">
                  <h1>Items</h1>
                  <small>List of items</small>
               </div>
            </section>
            <!-- Main content -->
            <section class="content">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="panel panel-bd lobidrag">
                        <div class="panel-heading">
                           <div class="btn-group" id="buttonexport">
                              <a href="#">
                                 <h4>Items details</h4>
                              </a>
                           </div>
                        </div>
                        <div class="panel-body">
                        <!-- Plugin content:powerpoint,txt,pdf,png,word,xl -->
                           <div class="btn-group">
                              <div class="buttonexport">
                                 <a href="#" class="btn btn-add" data-toggle="modal" data-target="#additem"><i class="fa fa-plus"></i> Add Items</a>
                              </div>
                              <button class="btn btn-exp btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Export Table Data</button>
                              <ul class="dropdown-menu exp-drop" role="menu">
                                 <li>
                                    <a href="#" onclick="$('#dataTableExample1').tableExport({type:'json',escape:'false'});">
                                    <img src="assets/dist/img/json.png" width="24" alt="logo"> JSON</a>
                                 </li>
                                 <li>
                                    <a href="#" onclick="$('#dataTableExample1').tableExport({type:'json',escape:'false',ignoreColumn:'[2,3]'});">
                                    <img src="assets/dist/img/json.png" width="24" alt="logo"> JSON (ignoreColumn)</a>
                                 </li>
                                 <li><a href="#" onclick="$('#dataTableExample1').tableExport({type:'json',escape:'true'});">
                                    <img src="assets/dist/img/json.png" width="24" alt="logo"> JSON (with Escape)</a>
                                 </li>
                                 <li class="divider"></li>
                                 <li><a href="#" onclick="$('#dataTableExample1').tableExport({type:'xml',escape:'false'});">
                                    <img src="assets/dist/img/xml.png" width="24" alt="logo"> XML</a>
                                 </li>
                                 <li><a href="#" onclick="$('#dataTableExample1').tableExport({type:'sql'});">
                                    <img src="assets/dist/img/sql.png" width="24" alt="logo"> SQL</a>
                                 </li>
                                 <li class="divider"></li>
                                 <li>
                                    <a href="#" onclick="$('#dataTableExample1').tableExport({type:'csv',escape:'false'});">
                                    <img src="assets/dist/img/csv.png" width="24" alt="logo"> CSV</a>
                                 </li>
                                 <li>
                                    <a href="#" onclick="$('#dataTableExample1').tableExport({type:'txt',escape:'false'});">
                                    <img src="assets/dist/img/txt.png" width="24" alt="logo"> TXT</a>
                                 </li>
                                 <li class="divider"></li>
                                 <li>
                                    <a href="#" onclick="$('#dataTableExample1').tableExport({type:'excel',escape:'false'});">
                                    <img src="assets/dist/img/xls.png" width="24" alt="logo"> XLS</a>
                                 </li>
                                 <li>
                                    <a href="#" onclick="$('#dataTableExample1').tableExport({type:'doc',escape:'false'});">
                                    <img src="assets/dist/img/word.png" width="24" alt="logo"> Word</a>
                                 </li>
                                 <li>
                                    <a href="#" onclick="$('#dataTableExample1').tableExport({type:'powerpoint',escape:'false'});">
                                    <img src="assets/dist/img/ppt.png" width="24" alt="logo"> PowerPoint</a>
                                 </li>
                                 <li class="divider"></li>
                                 <li>
                                    <a href="#" onclick="$('#dataTableExample1').tableExport({type:'png',escape:'false'});">
                                    <img src="assets/dist/img/png.png" width="24" alt="logo"> PNG</a>
                                 </li>
                                 <li>
                                    <a href="#" onclick="$('#dataTableExample1').tableExport({type:'pdf',pdfFontSize:'7',escape:'false'});">
                                    <img src="assets/dist/img/pdf.png" width="24" alt="logo"> PDF</a>
                                 </li>
                              </ul>
                           </div>
                           <!-- ./Plugin content:powerpoint,txt,pdf,png,word,xl -->
                           <div class="table-responsive">
                              <table id="dataTableExample1" class="table table-bordered table-striped table-hover">
                                 <thead>
                                    <tr class="info">
                                       <th>Serial No.</th>
                                       <th>Item Code</th>
                                       <th>Item Name</th>
                                       <th>Quantity</th>
                                       <th>Description</th>
                                       <th>Unit price</th>
                                       <th>Discount</th>
                                       <th>status</th>
                                        <th>Actions</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                 {% for item in products %}
                                    <tr>
                                       <td>
                                          <div >
{#                                             <input id="checkbox1" type="checkbox">#}
                                             <label >{{ forloop.counter }}</label>
                                          </div>
                                       </td>
                                       <td>{{ item.itemcode }}</td>
                                       <td>{{ item.itemname}}</td>
                                       <td>{{ item.quantity }}</td>
                                       <td>{{ item.description}}</td>
                                       <td>&#8377; {{ item.price }}</td>
                                       <td>{{ item.discount }}</td>
                                        {% if item.quantity == 0 %}
                                            <td>
                                                <span class="label-danger label label-default">Out of stock</span>
                                            </td>
                                        {% else %}
                                            <td>
                                                <span class="label-custom label label-default">Available</span>
                                            </td>
                                        {% endif %}
                                    <td>
                                                    <a href="{% url 'sales:update_product' item.itemcode %}" type="button" class="btn btn-add btn-sm" data-toggle="modal"><i class="fa fa-pencil"></i>
                                                    </a>
                                                    <a href="{% url 'sales:remove_product' item.itemcode %}" type="button" class="btn btn-danger btn-sm"
                                                            data-toggle="modal"><i class="fa fa-trash-o"></i></a>
                                                    <a href="{% url 'sales:detail_product' item.itemcode %}" type="button" class="btn btn-add btn-sm" data-toggle="modal"><i class="fa fa-pencil"></i>
                                                    </a>
                                    </td>
                                    </tr>
                                 {% endfor %}

                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- items Modal1 -->
               <div class="modal fade" id="additem" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog">
                     <div class="modal-content">
                        <div class="modal-header modal-header-primary">
                           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                           <h3><i class="fa fa-plus m-r-5"></i> Add new Item</h3>
                        </div>
                        <div class="modal-body">
                           <div class="row">
                              <div class="col-md-12">
                                 <form class="form-horizontal" method="POST">
                                     {% csrf_token %}
                                    <fieldset>
                                       <!-- Text input-->
                                       <div class="col-md-4 form-group">
                                          <label class="control-label">Item Code</label>
{#                                          <input type="text" placeholder="Item Code" class="form-control" name="itemcode">#}
                                           {% render_field product_form.itemcode placeholder="Item Code" class="form-control" name="itemcode" %}
                                       </div>
                                       <!-- Text input-->
                                       <div class="col-md-4 form-group">
                                          <label class="control-label">Item Name</label>
{#                                          <input type="text" placeholder="Item Name" class="form-control" name = "itemname">#}
                                           {% render_field product_form.itemname placeholder="Item Name" class="form-control" name="itemname" %}
                                       </div>
                                       <!-- Text input-->
                                       <div class="col-md-4 form-group">
                                          <label class="control-label">Quantity</label>
{#                                          <input type="number" placeholder="Quantity" class="form-control" name="quantity">#}
                                           {% render_field product_form.quantity placeholder="Quantity" class="form-control" name="quantity" %}
                                       </div>
                                       <div class="col-md-6 form-group">
                                          <label class="control-label">Unit price</label>
{#                                          <input type="number" placeholder="Unit price" class="form-control" name="price">#}
                                           {% render_field product_form.price  placeholder="Unit price" class="form-control" name="price" %}
                                       </div>
                                       <div class="col-md-6 form-group">
                                          <label class="control-label">Discount</label>
{#                                          <input type="number" placeholder="Discount" class="form-control" name="discount">#}
                                           {% render_field product_form.discount placeholder="Discount" class="form-control" name="discount" %}
                                       </div>
                                       <div class="col-md-6 form-group">
                                          <label class="control-label">Description</label><br>
{#                                          <textarea name="Description" rows="3" name="description">#}
{#                                          </textarea>#}
                                           {% render_field product_form.description placeholder="Description" class="form-control" %}
                                       </div>
                              
                                       <div class="col-md-12 form-group user-form-group">
                                          <div class="pull-right">
                                             <button type="button" class="btn btn-danger btn-sm">Cancel</button>
                                             <button type="submit" class="btn btn-add btn-sm">Save</button>
                                          </div>
                                       </div>
                                    </fieldset>
                                 </form>
                              </div>
                           </div>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                        </div>
                     </div>
                     <!-- /.modal-content -->
                  </div>
                  <!-- /.modal-dialog -->
               </div>
               <!-- /.modal -->
               <!-- Modal -->
            </section>
            <!-- /.content -->
         </div>

{% endblock %}

{% block script %}
    <script src="assets/plugins/table-export/tableExport.js" type="text/javascript"></script>
      <script src="assets/plugins/table-export/jquery.base64.js" type="text/javascript"></script>
      <script src="assets/plugins/table-export/html2canvas.js" type="text/javascript"></script>
      <script src="assets/plugins/table-export/sprintf.js" type="text/javascript"></script>
      <script src="assets/plugins/table-export/jspdf.js" type="text/javascript"></script>
      <script src="assets/plugins/table-export/base64.js" type="text/javascript"></script>
      <!-- dataTables js -->
      <script src="assets/plugins/datatables/dataTables.min.js" type="text/javascript"></script>
{% endblock %}
