<li class="treeview">
    <a href="#">
        <i class="fa fa-shopping-basket"></i><span>Transaction</span>
        <span class="pull-right-container">
                     <i class="fa fa-angle-left pull-right"></i>
                     </span>
    </a>
    <ul class="treeview-menu">
        <li><a href="deposit.html">New Deposit</a></li>
        <li><a href="expense.html">New Expense</a></li>
        <li><a href="transfer.html">Transfer</a></li>
        <li><a href="view-tsaction.html">View transaction</a></li>
        <li><a href="balance.html">Balance Sheet</a></li>
        <li><a href="treport.html">Transfer Report</a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-shopping-bag"></i><span>Accounting</span>
        <span class="pull-right-container">
                     <i class="fa fa-angle-left pull-right"></i>
                     </span>
    </a>
    <ul class="treeview-menu">
        <li><a href="cpayment.html">Client payment</a></li>
        <li><a href="emanage.html">Expense management</a></li>
        <li><a href="ecategory.html">Expense Category</a></li>
    </ul>
</li>