/********** Custom Bootstrap  **********/

.container {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.small {
    font-size: 43% !important;
}

/********** Custom CSS   **********/

body{
    overflow-x: hidden;
}

/* banner start */
.banner {
    background: url('../images/about/about-banner.jpg') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    height: 75%;
}

.banner p {
    font-size: 3rem;
    text-align: center;
    font-weight: 900;
    color: white;
    margin: 0 auto;
    width: 70%;
    padding: 9.3rem 0;
}

.fa-quote-left:before {
    position: absolute;
    margin-top: -102px;
    margin-left: -60px;
}

/* banner end */

/* About description start */

.org-description {
    margin-top: -40px;
}

.border-left {
    border-width: 10px !important;
}

.org-description-about {
    line-height: 2.4rem;
    word-spacing: 0.3rem;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.02rem;
}

/* About description end */

/* video start */

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 50%;
    height: 0;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85%;
    padding: 2% 10%;
}

/* video-container end */

/* Numbers section start */

.about-caption:after {
    content: ' ';
    margin: 1rem auto;
    display: block;
    width: 10%;
    border: 3px solid #0037ff;
}

.box {
    position: relative;
    border: 7.5px solid blue;
    border-style: double;
}

.number-card-caption {
    font-size: 1.5rem;
}

/* Numbers section end */

/* About description end */

/**********   Media Queries Start  *******/

@media (max-width: 1024px) {
    .iframe-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 2%;
    }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    /*.display-4{*/
    /*font-size:1rem;*/
    /*}*/
    .banner p {
        font-size: 1.8rem;
        padding: 12rem 0rem;
    }

    .org-description {
        margin-top: -1.2rem;
    }

    .fa-quote-left:before {
        margin-top: -60px;
        margin-left: -32px;
    }

    .display-4 {
        font-size: 2.5rem;
    }

    .px-5 {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    .org-description-about {
        line-height: 1.8rem;
        word-spacing: 0.3rem;
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: 0.02rem;
    }

    .col-3 {
        -ms-flex: 0 0 70%;
        flex: 0 0 70%;
        max-width: 70%;
    }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .col-3 {
        -ms-flex: 0 0 28%;
        flex: 0 0 28%;
        max-width: 28%;
    }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    .banner p {
        font-size: 1rem;
        padding: 5rem 0rem;
    }

    .fa-quote-left:before {
        margin-top: -40px;
        margin-left: -25px;
    }

    .display-4 {
        font-size: 2.2rem;
    }

    .px-5 {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }

    .org-description-about {
        line-height: 1.8rem;
        font-size: 1rem;
    }

    .col-3 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/




@media (min-width: 320px) and (max-width: 480px), (min-width: 481px) and (max-width: 767px){
    .banner p {
        font-size: 1.1rem;
        padding: 5rem 0rem;
    }

    .org-description {
        margin-top: 0px;
    }

    .fa-quote-left:before {
        margin-top: -42px;
        margin-left: -21px;
    }

    .display-4 {
        font-size: 1.5rem;
    }

    .px-5 {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    .org-description-about {
        line-height: 1.8rem;
        font-size: 1rem;
    }

    .box {
        margin: 0 1rem;
    }

    .col-3 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .small {
        font-size: 60% !important;
    }

}

/**********   Media Queries End  *******/

