@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.container-fluid {
    margin: 0 !important;
    padding: 0 !important;
}

.navbar {
    position: fixed !important;
    top: 0;
    width: 100% !important;
    z-index: 10;
    background: #fff;
}

.btn-solid, .btn-regular {
    border-radius: 5rem;
    padding-left: 1.35rem;
    padding-right: 1.35rem;
}

.btn-regular {
    background-color: transparent;
}

.bg-footer {
    background-color: #F7F7F7 !important;
}

.list-group-item {
    border: none !important;
}

.about-description {
    word-spacing: 0.3rem !important;
    line-height: 1.8rem !important;
}

.footer-heading {
    font-family: 'Montserrat', sans-serif;
}

.footer-heading:after {
    content: ' ';
    width: 21px;
    margin-left: 2px;
    display: block;
    border: 2px solid #007bff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.h-20 {
    height: 20%;
}

.h-30 {
    height: 30%;
}

.h-70 {
    height: 70%;
}

.h-40 {
    height: 40%;
}

.h-60 {
    height: 60%;
}

.h-125 {
    height: 125%;
}

.w-85 {
    width: 85%;
}

.w-40 {
    width: 40%;
}

.w-30 {
    width: 30%;
}

.course-price {
    font-size: 2.5rem;
    margin-left: -1rem;
}

.search {
    border: 1px solid #00f;;
    border-radius: 2px;
    height: 1.522vh;
}

.font-weight-xbold {
    font-weight: 900;
}

.force-overflow {
    min-height: 450px;
}

/********** LOADER START  *************/

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}


/********* LOADER END     *************/

/******** Scroll Bar Start    *************/

#style-2::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #D62929;
}

/******** Scroll Bar End    *************/

.nav-pills .nav-link.active {
    -webkit-clip-path: polygon(88% 0, 100% 50%, 85% 100%, 0 100%, 0 0);
    clip-path: polygon(88% 0, 100% 50%, 85% 100%, 0 100%, 0 0);
}

.nav-link{
    font-size: 1.2rem ! important;
    font-weight: 700 ! important;
}

footer > nav > ul > a {
    text-decoration: none;
}


.modal {
    overflow-x: hidden !important;
}

.social-icon{
    width:3rem;
    height:3rem;
    cursor:pointer;
}



@media only screen and (min-width: 1281px) {

    .footer-logo {
        width: 20vw;
        height: 40vh;
    }

    .footer-about {
        padding-right: 1rem;
    }

    footer p {
        font-size: 1rem;
    }

    footer .description {
        padding-top: 3rem;
    }
}

@media only screen and (min-width: 1900px) {
    .footer-logo {
        width: 15vw;
        height: 35vh;
    }

    footer p {
        font-size: 2.7rem;
    }

    .container {
        width: 2150px !important;
    }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1025px) and (orientation: portrait) {
    footer .description {
        padding-top: 3rem;
    }
}

@media (min-width: 768px) and (max-width: 1025px) and (orientation: landscape) {
    footer .description {
        padding-top: 2rem;
    }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

/*
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px), (min-width: 481px) and (max-width: 767px) {
    .footer-logo {
        width: 40vw;
        height: 40vh;
    }

    .footer-heading {
        font-size: 1.5rem;
    }

    footer p {
        padding: 1rem 0rem;
        line-height: 1.7rem;
    }
}

@media only screen and (max-width: 992px) {
    #search-bar, #logo {
        display: none;
    }
}

/* Portrait ipad pro */
@media only screen
and (min-width: 1024px)
and (max-height: 1366px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 1.5) {

}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.tingle-demo {
    display: none;
}

.col-5 {
    padding: 0 !important;
}

.modal-heading {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.modal-heading:after {
    content: ' ';
    margin: 0.6rem 0;
    display: block;
    width: 2.8rem;
    border: 3px solid #007bff;
}

.img-div {
    -webkit-clip-path: polygon(0 0, 100% 0%, 78% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 78% 100%, 0% 100%);
}

/*.form-container:after{*/
    /*background: linear-gradient(to right, #bcbcbc 25%, #ffcd02 25%, #ffcd02 50%, #e84f47 50%, #e84f47 75%, #65c1ac 75%);*/
    /*position: absolute;*/
    /*content: '';*/
    /*height: 7px;*/
    /*right: 0;*/
    /*left: 0;*/
    /*top: 0;*/
    /*width:95%;*/
/*}*/
.login-signup-field:focus{
    box-shadow: 0 0 0 0 rgba(0,123,255,.25)!important;
}
.login-signup-field{
    border-radius: 0!important;
    width: 95%!important;
}
button.tingle-modal__close:focus{
    outline: none;
}
.icons-login-signup{
    color: #aeaeae;
}
.p-login-signup-form{
    padding-left:3rem!important;
}
.text-modal-heading{
    font-size: 2rem;
    line-height: 2.9rem;
    word-spacing: 0.35rem;
    letter-spacing: 0.09rem;
}
