{% extends 'finance/navbar.html' %}
{% load static %}


{% block income %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="header-icon">
                <i class="fa fa-dashboard"></i>
            </div>
            <div class="header-title">
                <h1>Departments</h1>
                <small>Very detailed & featured admin.</small>
            </div>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <a href="{% url 'finance:expenditure' %}">
                        <div id="cardbox1">
                            <div class="statistic-box">
                                <i class="fa fa-user-plus fa-3x"></i>
                                <h3>Expenditure on payable</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <a href="{% url 'finance:asset_income' %}">
                        <div id="cardbox2">
                            <div class="statistic-box">
                                <i class="fa fa-user-secret fa-3x"></i>
                                <h3>Expenditure on liabilities</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-bd lobidrag">
                        <div class="panel-heading">
                            <div class="btn-group" id="buttonexport">
                                <a href="#">
                                    <h4>User Details</h4>
                                </a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <!-- Plugin content:powerpoint,txt,pdf,png,word,xl -->
                            <div class="btn-group">
                                <div class="buttonexport">
                                    <a href="#" class="btn btn-add" data-toggle="modal" data-target="#addentry"><i
                                            class="fa fa-plus"></i> Add Entry</a>

                                </div>
                                <div>
                                    <button class="btn btn-exp btn-sm dropdown-toggle"><i
                                            class="fa fa-bars"></i> Import Table Data
                                    </button>
                                </div>

                            </div>
                            <!-- ./Plugin content:powerpoint,txt,pdf,png,word,xl -->
                            <div class="table-responsive">
                                <table id="dataTableExample1" class="table table-bordered table-striped table-hover">
                                    <thead>
                                    <tr class="info">
                                        <th>Liability Type</th>
                                        <th>Liability Value</th>
                                        <th>Annual Return Rate</th>
                                        <th>Date</th>
                                        <th>Tax Levied</th>
                                        <th>Net Expense</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for dat in data %}
                                        <tr>
                                            <td>{{ dat.liability_type }}</td>
                                            <td>{{ dat.liability_value }}</td>
                                            <td>{{ dat.annual_return_rate }}</td>
                                            <td>{{ dat.date }}</td>
                                            <td>{{ dat.tax_levied }}</td>
                                            <td>{{ dat.net_expense }}</td>
                                            <td>
                                                <button type="button" class="btn btn-add btn-sm" data-toggle="modal"
                                                        data-target="#update"><i class="fa fa-user-o"></i></button>
                                            </td>
                                        </tr>
                                    {% empty %}
                                        <td>Nothing to show</td>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- User Modal1 -->
{#            <div class="modal fade" id="update" tabindex="-1" role="dialog" aria-hidden="true">#}
{#                <div class="modal-dialog">#}
{#                    <div class="modal-content">#}
{#                        <div class="modal-header modal-header-primary">#}
{#                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>#}
{#                            <h3><i class="fa fa-plus m-r-5"></i> Add a new Entry</h3>#}
{#                        </div>#}
{#                        <div class="modal-body">#}
{#                            <div class="row">#}
{#                                <div class="col-md-12">#}
{#                                    <form class="form-horizontal" method="post">#}
{#                                        <fieldset>#}
{#                                            {{ asset_form.as_p }}#}
{#                                            <!-- Text input-->#}
                                            {#                                            <div class="col-md-6 form-group">#}
                                            {#                                                <label class="control-label">Photo</label>#}
                                            {#                                                <input name="filebutton" class="input-file" type="file">#}
                                            {#                                            </div>#}
                                            {#                                            <!-- Text input-->#}
                                            {#                                            <div class="col-md-6 form-group">#}
                                            {#                                                <label class="control-label">User Name</label>#}
                                            {#                                                <input type="text" placeholder="User Name" class="form-control">#}
                                            {#                                            </div>#}
                                            {#                                            <!-- Text input-->#}
                                            {#                                            <div class="col-md-6 form-group">#}
                                            {#                                                <label class="control-label">status</label>#}
                                            {#                                                <input type="text" placeholder="status" class="form-control">#}
                                            {#                                            </div>#}
                                            {#                                            <div class="col-md-6 form-group">#}
                                            {#                                                <label class="control-label">Type</label>#}
                                            {#                                                <input type="text" placeholder="Type" class="form-control">#}
                                            {#                                            </div>#}
{#                                            <div class="col-md-12 form-group user-form-group">#}
{#                                                <div class="pull-right">#}
{#                                                    <button type="button" class="btn btn-danger btn-sm">Cancel</button>#}
{#                                                    <button type="submit" class="btn btn-add btn-sm">Update</button>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </fieldset>#}
{#                                    </form>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="modal-footer">#}
{#                            <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>#}
{#                        </div>#}
{#                    </div>#}
{#                    <!-- /.modal-content -->#}
{#                </div>#}
{#                <!-- /.modal-dialog -->#}
{#            </div>#}
            <!-- /.modal -->
            <!-- Modal -->
            <!-- User Modal1 -->
            <div class="modal fade" id="addentry" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header modal-header-primary">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3><i class="fa fa-plus m-r-5"></i> Add new User</h3>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <form class="form-horizontal" method="post">
                                        {% csrf_token %}
                                        <fieldset>
                                            {{ liability_form.as_p }}
                                            {#                                            <!-- Text input-->#}
                                            {#                                            <div class="col-md-6 form-group">#}
                                            {#                                                <label class="control-label">Photo</label>#}
                                            {#                                                <input name="filebutton" class="input-file" type="file">#}
                                            {#                                            </div>#}
                                            {#                                            <!-- Text input-->#}
                                            {#                                            <div class="col-md-6 form-group">#}
                                            {#                                                <label class="control-label">User Name</label>#}
                                            {#                                                <input type="text" placeholder="User Name" class="form-control">#}
                                            {#                                            </div>#}
                                            {#                                            <!-- Text input-->#}
                                            {#                                            <div class="col-md-6 form-group">#}
                                            {#                                                <label class="control-label">status</label>#}
                                            {#                                                <input type="text" placeholder="status" class="form-control">#}
                                            {#                                            </div>#}
                                            {#                                            <div class="col-md-6 form-group">#}
                                            {#                                                <label class="control-label">Type</label>#}
                                            {#                                                <input type="text" placeholder="Type" class="form-control">#}
                                            {#                                            </div>#}
                                            <div class="col-md-12 form-group user-form-group">
                                                <div class="pull-right">
                                                    <button type="button" class="btn btn-danger btn-sm">Cancel</button>
                                                    <button type="submit" class="btn btn-add btn-sm">Update</button>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <!-- Modal -->
            <!-- delete user Modal2 -->
            <div class="modal fade" id="customer2" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header modal-header-primary">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3><i class="fa fa-user m-r-5"></i> Delete User</h3>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <form class="form-horizontal">
                                        <fieldset>
                                            <div class="col-md-12 form-group user-form-group">
                                                <label class="control-label">Delete User</label>
                                                <div class="pull-right">
                                                    <button type="button" class="btn btn-danger btn-sm">NO</button>
                                                    <button type="submit" class="btn btn-add btn-sm">YES</button>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
        </section>

        <div class="row" style="padding:40px;">
            <div class="col-sm-12 col-md-8">
                <div class="panel panel-bd lobidrag">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h4>Line chart</h4>
                        </div>
                    </div>
                    <div class="panel-body">
                        <canvas id="lineChart" height="140"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.content -->
    </div>

    <script src="{% static 'assets/plugins/chartJs/Chart.min.js' %}" type="text/javascript"></script>
    <script>
        var ctx = document.getElementById("lineChart");
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{ date|safe }},
                datasets: [
                    {
                        label: "Liabiiies",
                        borderColor: "rgba(0, 150, 136, 0.76)",
                        borderWidth: "1",
                        backgroundColor: "rgba(0, 150, 136, 0.76)",
                        pointHighlightStroke: "rgba(26,179,148,1)",
                        data: {{ net_amount|safe }}
                    }
                ]
            },
            options: {
                responsive: true,
                tooltips: {
                    mode: 'index',
                    intersect: false
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                }

            }
        });
    </script>
    <!-- /.content-wrapper -->
{% endblock %}