{% extends 'home/navbar.html' %}

{% block body %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="header-icon">
                <i class="fa fa-dashboard"></i>
            </div>
            <div class="header-title">
                <h1>HR Department</h1>
                <small>Very detailed & featured admin.</small>
            </div>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <a href="{% url 'users:hr:depart' 'HR' %}">
                        <div id="cardbox1">
                            <div class="statistic-box">
                                <i class="fa fa-user-plus fa-3x"></i>
                                <h3>Manage Employees</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <a href="{% url 'users:hr:payroll' %}">
                        <div id="cardbox2">
                            <div class="statistic-box">
                                <i class="fa fa-user-secret fa-3x"></i>
                                <h3>Payroll</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <a href="{% url 'users:hr:meet' %}">
                        <div id="cardbox3">
                            <div class="statistic-box">
                                <i class="fa fa-money fa-3x"></i>
                                <h3>Meetings</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <a href="{% url 'users:hr:train' %}">
                        <div id="cardbox3">
                            <div class="statistic-box">
                                <i class="fa fa-money fa-3x"></i>
                                <h3>Trainings</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <a href="{% url 'users:hr:complaints' %}">
                        <div id="cardbox3">
                            <div class="statistic-box">
                                <i class="fa fa-money fa-3x"></i>
                                <h3>Complaints</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{#=======#}
{#{% extends 'home/navbar.html' %}#}
{##}
{#{% block body %}#}
{#    <div class="content-wrapper">#}
{#        <!-- Content Header (Page header) -->#}
{#        <section class="content-header">#}
{#            <div class="header-icon">#}
{#                <i class="fa fa-dashboard"></i>#}
{#            </div>#}
{#            <div class="header-title">#}
{#                <h1>HR Department</h1>#}
{#                <small>Very detailed & featured admin.</small>#}
{#            </div>#}
{#        </section>#}
{#        <!-- Main content -->#}
{#        <section class="content">#}
{#            <div class="row">#}
{#                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">#}
{#                    <a href="{% url 'users:hr:recruit' %}">#}
{#                        <div id="cardbox1">#}
{#                            <div class="statistic-box">#}
{#                                <i class="fa fa-user-plus fa-3x"></i>#}
{#                                <h3>Manage Employees</h3>#}
{#                            </div>#}
{#                        </div>#}
{#                    </a>#}
{#                </div>#}
{#                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">#}
{#                    <a href="{% url 'users:hr:payroll' %}">#}
{#                        <div id="cardbox2">#}
{#                            <div class="statistic-box">#}
{#                                <i class="fa fa-user-secret fa-3x"></i>#}
{#                                <h3>Payroll</h3>#}
{#                            </div>#}
{#                        </div>#}
{#                    </a>#}
{#                </div>#}
{#                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">#}
{#                    <a href="{% url 'users:hr:meet' %}">#}
{#                        <div id="cardbox3">#}
{#                            <div class="statistic-box">#}
{#                                <i class="fa fa-money fa-3x"></i>#}
{#                                <h3>Meetings</h3>#}
{#                            </div>#}
{#                        </div>#}
{#                    </a>#}
{#                </div>#}
{#                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">#}
{#                    <a href="{% url 'users:hr:train' %}">#}
{#                        <div id="cardbox3">#}
{#                            <div class="statistic-box">#}
{#                                <i class="fa fa-money fa-3x"></i>#}
{#                                <h3>Trainings</h3>#}
{#                            </div>#}
{#                        </div>#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
{##}
{#        </section>#}
{#        <!-- /.content -->#}
{#    </div>#}
{#    <!-- /.content-wrapper -->#}
{#>>>>>>> 22986b0c624a63ecf011ca56a803c1a366725f6c#}
{% endblock %}