{% extends 'home/navbar.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
{% endblock %}

{% block body %}
    {{ lines }}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="header-icon">
                <i class="fa fa-dashboard"></i>
            </div>
            <div class="header-title">
                <h1>Departments</h1>
                <small>Very detailed & featured admin.</small>
            </div>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <a href="{% url 'users:hr:depart' 'HR' %}">
                        <div id="cardbox1">
                            <div class="statistic-box">
                                <i class="fa fa-user-plus fa-3x"></i>
                                <h3> HR Department</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <a href="{% url 'users:hr:depart' 'SALES' %}">
                        <div id="cardbox2">
                            <div class="statistic-box">
                                <i class="fa fa-user-secret fa-3x"></i>
                                <h3>Sales Department</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <a href="{% url 'users:hr:depart' 'ACCOUNTS' %}">
                        <div id="cardbox3">
                            <div class="statistic-box">
                                <i class="fa fa-money fa-3x"></i>
                                <h3> Accounts Department</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-bd lobidrag">
                        <div class="panel-heading">
                            <div class="btn-group" id="buttonexport">
                                <a href="#">
                                    <h4>User Details</h4>
                                </a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <!-- Plugin content:powerpoint,txt,pdf,png,word,xl -->
                            <div class="btn-group">
                                <div class="buttonexport">
                                    <a href="#" class="btn btn-add" data-toggle="modal" data-target="#adduser"><i
                                            class="fa fa-plus"></i> Add Users</a>

                                </div>
                                <div>
                                    <a href="#" class="btn btn-exp" data-toggle="modal" data-target="#addusercsv"><i
                                            class="fa fa-bars"></i>Import Table Data</a>
                                </div>
                            </div>
                            <!-- ./Plugin content:powerpoint,txt,pdf,png,word,xl -->
                            <div class="table-responsive">
                                <table id="dataTableExample1" class="table table-bordered table-striped table-hover">
                                    <thead>
                                    <tr class="info">
                                        <th>Photo</th>
                                        <th>Name</th>
                                        <th>Username</th>
                                        <th>Email</th>
                                        <th>Position</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for user in members %}
                                        <tr>
                                            <td><img src="{{ user.profile_pic }}" class="img-circle" alt='User Image'
                                                     width="50" height="50"></td>
                                            <td>{{ user.first_name }} &nbsp; {{ user.last_name }}</td>
                                            <td>{{ user.user.username }}</td>
                                            <td>{{ user.user.email }}</td>
                                            <td>{{ user.position }}</td>
                                            <td>
                                                <button type="button" class="btn btn-add btn-sm" data-toggle="modal"
                                                        data-target="#update"><i class="fa fa-pencil"></i></button>
                                            </td>
                                        </tr>
                                    {% empty %}
                                        <td>Nothing to show</td>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- User Modal1 -->
            <div class="modal fade" id="update" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header modal-header-primary">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3><i class="fa fa-plus m-r-5"></i> Add new User</h3>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <form class="form-horizontal">
                                        <fieldset>
                                            <!-- Text input-->
                                            <div class="col-md-6 form-group">
                                                <label class="control-label">Photo</label>
                                                <input name="filebutton" class="input-file" type="file">
                                            </div>
                                            <!-- Text input-->
                                            <div class="col-md-6 form-group">
                                                <label class="control-label">User Name</label>
                                                <input type="text" placeholder="User Name" class="form-control">
                                            </div>
                                            <!-- Text input-->
                                            <div class="col-md-6 form-group">
                                                <label class="control-label">status</label>
                                                <input type="text" placeholder="status" class="form-control">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label class="control-label">Type</label>
                                                <input type="text" placeholder="Type" class="form-control">
                                            </div>
                                            <div class="col-md-12 form-group user-form-group">
                                                <div class="pull-right">
                                                    <button type="button" class="btn btn-danger btn-sm">Cancel</button>
                                                    <button type="submit" class="btn btn-add btn-sm">Update</button>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <!-- Modal -->
            <!-- User Modal1 -->
            <div class="modal fade" id="adduser" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header modal-header-primary">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3><i class="fa fa-plus m-r-5"></i> Add new User</h3>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <form class="form-horizontal" method="POST">
                                        {% csrf_token %}
                                        <fieldset>
                                            <!-- Text input-->
                                            {#                                            <div class="col-md-6 form-group">#}
                                            {#                                                <label class="control-label">Photo</label>#}
                                            {#                                                <input name="filebutton" class="input-file" type="file">#}
                                            {#                                            </div>#}
                                            <!-- Text input-->
                                            <div class="col-md-6 form-group">
                                                <label class="control-label">Email</label>
                                                {#                                                <input type="text" placeholder="User Name" class="form-control">#}
                                                {% render_field users_temp.email placeholder="Email" class="form-control" %}
                                            </div>
                                            <!-- Text input-->
                                            <div class="col-md-6 form-group">
                                                <label class="control-label">Department</label>
                                                {#                                                <input type="text" placeholder="status" class="form-control">#}
                                                {% render_field users_temp.dept placeholder="Department" class="form-control" %}
                                            </div>
                                            {#                                            <div class="col-md-6 form-group">#}
                                            {#                                                <label class="control-label">Type</label>#}
                                            {#                                                <input type="text" placeholder="Type" class="form-control">#}
                                            {#                                            </div>#}
                                            <div class="col-md-12 form-group user-form-group">
                                                <div class="pull-right">
                                                    {#                                                    <button type="button" class="btn btn-danger btn-sm">Cancel</button>#}
                                                    <button type="submit" class="btn btn-add btn-sm">Add</button>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <div class="modal fade" id="addusercsv" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header modal-header-primary">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3><i class="fa fa-plus m-r-5"></i> Add new User</h3>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <form class="form-horizontal" method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <!-- Text input-->
                                        <div class="col-md-6 form-group">
                                            <label class="control-label">Upload a CSV file</label>
                                            {{ email_form.as_p }}
                                        </div>
                                        <div class="col-md-12 form-group user-form-group">
                                            <div class="pull-right">
                                                <button type="submit" class="btn btn-add btn-sm">Add</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- Modal -->
            <!-- delete user Modal2 -->
            <div class="modal fade" id="customer2" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header modal-header-primary">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3><i class="fa fa-user m-r-5"></i> Delete User</h3>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <form class="form-horizontal">
                                        <fieldset>
                                            <div class="col-md-12 form-group user-form-group">
                                                <label class="control-label">Delete User</label>
                                                <div class="pull-right">
                                                    <button type="button" class="btn btn-danger btn-sm">NO</button>
                                                    <button type="submit" class="btn btn-add btn-sm">YES</button>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
        </section>
        <div class="row" style="margin:20px;">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="panel panel-bd lobidisable">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h4>Members in different departments</h4>
                        </div>
                    </div>
                    <div class="panel-body">
                        <canvas id="doughutChart" height="310"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-8">
                <div class="panel panel-bd lobidisable">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h4>Recruitments in past 20 month</h4>
                        </div>
                    </div>
                    <div class="panel-body">
                        <canvas id="singelBarChart" height="310"></canvas>
                    </div>
                </div>
            </div>
        </div>


        <!-- /.content -->
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'assets/plugins/chartJs/Chart.min.js' %}" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            function chartlist() {
                "use strict"; // Start of use strict
                //doughut chart
                var ctx = document.getElementById("doughutChart");
                var myChart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        datasets: [{
                            data: {{ members_list|safe }},
                            backgroundColor: [
                                "rgba(0, 150, 136, 0.76)",
                                "#30a44ae6",
                                "#290d69e6",
                            ],
                            hoverBackgroundColor: [
                                "rgba(0, 150, 136, 0.76)",
                                "rgba(0, 150, 136, 0.76)",
                                "rgba(0, 150, 136, 0.76)",
                            ]

                        }],
                        labels: [
                            "Sales",
                            "Finance",
                            "HR",
                        ]
                    },
                    options: {
                        responsive: true,
                    }
                });
                var ctx = document.getElementById("singelBarChart");
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: {{cv0|safe}},
                        datasets: [
                            {
                                label: "My First dataset",
                                data: {{cv1|safe}},
                                borderColor: "#009688",
                                borderWidth: "0",
                                backgroundColor: "rgba(0, 150, 136, 0.76)"
                            }
                        ]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            }

            chartlist();
        })
        ;


    </script>
    <!-- /.content-wrapper -->
{#=======#}
{#{% extends 'home/navbar.html' %}#}
{#{% load widget_tweaks %}#}
{##}
{#{% block head %}#}
{#{% endblock %}#}
{##}
{#{% block body %}#}
{#    {{ lines }}#}
{#    <div class="content-wrapper">#}
{#        <!-- Content Header (Page header) -->#}
{#        <section class="content-header">#}
{#            <div class="header-icon">#}
{#                <i class="fa fa-dashboard"></i>#}
{#            </div>#}
{#            <div class="header-title">#}
{#                <h1>Departments</h1>#}
{#                <small>Very detailed & featured admin.</small>#}
{#            </div>#}
{#        </section>#}
{#        <!-- Main content -->#}
{#        <section class="content">#}
{#            <div class="row">#}
{#                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">#}
{#                    <a href="{% url 'users:hr:depart' 'HR' %}">#}
{#                        <div id="cardbox1">#}
{#                            <div class="statistic-box">#}
{#                                <i class="fa fa-user-plus fa-3x"></i>#}
{#                                <h3> HR Department</h3>#}
{#                            </div>#}
{#                        </div>#}
{#                    </a>#}
{#                </div>#}
{#                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">#}
{#                    <a href="{% url 'users:hr:depart' 'SALES' %}">#}
{#                        <div id="cardbox2">#}
{#                            <div class="statistic-box">#}
{#                                <i class="fa fa-user-secret fa-3x"></i>#}
{#                                <h3>Sales Department</h3>#}
{#                            </div>#}
{#                        </div>#}
{#                    </a>#}
{#                </div>#}
{#                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">#}
{#                    <a href="{% url 'users:hr:depart' 'ACCOUNTS' %}">#}
{#                        <div id="cardbox3">#}
{#                            <div class="statistic-box">#}
{#                                <i class="fa fa-money fa-3x"></i>#}
{#                                <h3> Accounts Department</h3>#}
{#                            </div>#}
{#                        </div>#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
{#            <div class="row">#}
{#                <div class="col-sm-12">#}
{#                    <div class="panel panel-bd lobidrag">#}
{#                        <div class="panel-heading">#}
{#                            <div class="btn-group" id="buttonexport">#}
{#                                <a href="#">#}
{#                                    <h4>User Details</h4>#}
{#                                </a>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="panel-body">#}
{#                            <!-- Plugin content:powerpoint,txt,pdf,png,word,xl -->#}
{#                            <div class="btn-group">#}
{#                                <div class="buttonexport">#}
{#                                    <a href="#" class="btn btn-add" data-toggle="modal" data-target="#adduser"><i#}
{#                                            class="fa fa-plus"></i> Add Users</a>#}
{##}
{#                                </div>#}
{#                                <div>#}
{#                                    <a href="#" class="btn btn-exp" data-toggle="modal" data-target="#addusercsv"><i#}
{#                                            class="fa fa-bars"></i>Import Table Data</a>#}
{#                                </div>#}
{#                            </div>#}
{#                            <!-- ./Plugin content:powerpoint,txt,pdf,png,word,xl -->#}
{#                            <div class="table-responsive">#}
{#                                <table id="dataTableExample1" class="table table-bordered table-striped table-hover">#}
{#                                    <thead>#}
{#                                    <tr class="info">#}
{#                                        <th>Photo</th>#}
{#                                        <th>Name</th>#}
{#                                        <th>Username</th>#}
{#                                        <th>Email</th>#}
{#                                        <th>Position</th>#}
{#                                        <th>Action</th>#}
{#                                    </tr>#}
{#                                    </thead>#}
{#                                    <tbody>#}
{#                                    {% for user in members %}#}
{#                                        <tr>#}
{#                                            <td><img src="{{ user.profile_pic }}" class="img-circle" alt='User Image'#}
{#                                                     width="50" height="50"></td>#}
{#                                            <td>{{ user.first_name }} &nbsp; {{ user.last_name }}</td>#}
{#                                            <td>{{ user.user.username }}</td>#}
{#                                            <td>{{ user.user.email }}</td>#}
{#                                            <td>{{ user.position }}</td>#}
{#                                            <td>#}
{#                                                <button type="button" class="btn btn-add btn-sm" data-toggle="modal"#}
{#                                                        data-target="#update"><i class="fa fa-pencil"></i></button>#}
{#                                            </td>#}
{#                                        </tr>#}
{#                                    {% empty %}#}
{#                                        <td>Nothing to show</td>#}
{#                                    {% endfor %}#}
{#                                    </tbody>#}
{#                                </table>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <!-- User Modal1 -->#}
{#            <div class="modal fade" id="update" tabindex="-1" role="dialog" aria-hidden="true">#}
{#                <div class="modal-dialog">#}
{#                    <div class="modal-content">#}
{#                        <div class="modal-header modal-header-primary">#}
{#                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>#}
{#                            <h3><i class="fa fa-plus m-r-5"></i> Add new User</h3>#}
{#                        </div>#}
{#                        <div class="modal-body">#}
{#                            <div class="row">#}
{#                                <div class="col-md-12">#}
{#                                    <form class="form-horizontal">#}
{#                                        <fieldset>#}
{#                                            <!-- Text input-->#}
{#                                            <div class="col-md-6 form-group">#}
{#                                                <label class="control-label">Photo</label>#}
{#                                                <input name="filebutton" class="input-file" type="file">#}
{#                                            </div>#}
{#                                            <!-- Text input-->#}
{#                                            <div class="col-md-6 form-group">#}
{#                                                <label class="control-label">User Name</label>#}
{#                                                <input type="text" placeholder="User Name" class="form-control">#}
{#                                            </div>#}
{#                                            <!-- Text input-->#}
{#                                            <div class="col-md-6 form-group">#}
{#                                                <label class="control-label">status</label>#}
{#                                                <input type="text" placeholder="status" class="form-control">#}
{#                                            </div>#}
{#                                            <div class="col-md-6 form-group">#}
{#                                                <label class="control-label">Type</label>#}
{#                                                <input type="text" placeholder="Type" class="form-control">#}
{#                                            </div>#}
{#                                            <div class="col-md-12 form-group user-form-group">#}
{#                                                <div class="pull-right">#}
{#                                                    <button type="button" class="btn btn-danger btn-sm">Cancel</button>#}
{#                                                    <button type="submit" class="btn btn-add btn-sm">Update</button>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </fieldset>#}
{#                                    </form>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="modal-footer">#}
{#                            <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>#}
{#                        </div>#}
{#                    </div>#}
{#                    <!-- /.modal-content -->#}
{#                </div>#}
{#                <!-- /.modal-dialog -->#}
{#            </div>#}
{#            <!-- /.modal -->#}
{#            <!-- Modal -->#}
{#            <!-- User Modal1 -->#}
{#            <div class="modal fade" id="adduser" tabindex="-1" role="dialog" aria-hidden="true">#}
{#                <div class="modal-dialog">#}
{#                    <div class="modal-content">#}
{#                        <div class="modal-header modal-header-primary">#}
{#                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>#}
{#                            <h3><i class="fa fa-plus m-r-5"></i> Add new User</h3>#}
{#                        </div>#}
{#                        <div class="modal-body">#}
{#                            <div class="row">#}
{#                                <div class="col-md-12">#}
{#                                    <form class="form-horizontal" method="POST">#}
{#                                        {% csrf_token %}#}
{#                                        <fieldset>#}
{#                                            <!-- Text input-->#}
                                            {#                                            <div class="col-md-6 form-group">#}
                                            {#                                                <label class="control-label">Photo</label>#}
                                            {#                                                <input name="filebutton" class="input-file" type="file">#}
                                            {#                                            </div>#}
{#                                            <!-- Text input-->#}
{#                                            <div class="col-md-6 form-group">#}
{#                                                <label class="control-label">Email</label>#}
                                                {#                                                <input type="text" placeholder="User Name" class="form-control">#}
{#                                                {% render_field users_temp.email placeholder="Email" class="form-control" %}#}
{#                                            </div>#}
{#                                            <!-- Text input-->#}
{#                                            <div class="col-md-6 form-group">#}
{#                                                <label class="control-label">Department</label>#}
                                                {#                                                <input type="text" placeholder="status" class="form-control">#}
{#                                                {% render_field users_temp.dept placeholder="Department" class="form-control" %}#}
{#                                            </div>#}
                                            {#                                            <div class="col-md-6 form-group">#}
                                            {#                                                <label class="control-label">Type</label>#}
                                            {#                                                <input type="text" placeholder="Type" class="form-control">#}
                                            {#                                            </div>#}
{#                                            <div class="col-md-12 form-group user-form-group">#}
{#                                                <div class="pull-right">#}
                                                    {#                                                    <button type="button" class="btn btn-danger btn-sm">Cancel</button>#}
{#                                                    <button type="submit" class="btn btn-add btn-sm">Add</button>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </fieldset>#}
{#                                    </form>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="modal-footer">#}
{#                            <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>#}
{#                        </div>#}
{#                    </div>#}
{#                    <!-- /.modal-content -->#}
{#                </div>#}
{#                <!-- /.modal-dialog -->#}
{#            </div>#}
{#            <!-- /.modal -->#}
{#            <div class="modal fade" id="addusercsv" tabindex="-1" role="dialog" aria-hidden="true">#}
{#                <div class="modal-dialog">#}
{#                    <div class="modal-content">#}
{#                        <div class="modal-header modal-header-primary">#}
{#                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>#}
{#                            <h3><i class="fa fa-plus m-r-5"></i> Add new User</h3>#}
{#                        </div>#}
{#                        <div class="modal-body">#}
{#                            <div class="row">#}
{#                                <div class="col-md-12">#}
{#                                    <form class="form-horizontal" method="POST" enctype="multipart/form-data">#}
{#                                        {% csrf_token %}#}
{#                                        <!-- Text input-->#}
{#                                        <div class="col-md-6 form-group">#}
{#                                            <label class="control-label">Upload a CSV file</label>#}
{#                                            {{ email_form.as_p }}#}
{#                                        </div>#}
{#                                        <div class="col-md-12 form-group user-form-group">#}
{#                                            <div class="pull-right">#}
{#                                                <button type="submit" class="btn btn-add btn-sm">Add</button>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </form>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="modal-footer">#}
{#                            <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>#}
{#                        </div>#}
{#                    </div>#}
{#                    <!-- /.modal-content -->#}
{#                </div>#}
{#                <!-- /.modal-dialog -->#}
{#            </div>#}
{#            <!-- Modal -->#}
{#            <!-- delete user Modal2 -->#}
{#            <div class="modal fade" id="customer2" tabindex="-1" role="dialog" aria-hidden="true">#}
{#                <div class="modal-dialog">#}
{#                    <div class="modal-content">#}
{#                        <div class="modal-header modal-header-primary">#}
{#                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>#}
{#                            <h3><i class="fa fa-user m-r-5"></i> Delete User</h3>#}
{#                        </div>#}
{#                        <div class="modal-body">#}
{#                            <div class="row">#}
{#                                <div class="col-md-12">#}
{#                                    <form class="form-horizontal">#}
{#                                        <fieldset>#}
{#                                            <div class="col-md-12 form-group user-form-group">#}
{#                                                <label class="control-label">Delete User</label>#}
{#                                                <div class="pull-right">#}
{#                                                    <button type="button" class="btn btn-danger btn-sm">NO</button>#}
{#                                                    <button type="submit" class="btn btn-add btn-sm">YES</button>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </fieldset>#}
{#                                    </form>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="modal-footer">#}
{#                            <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>#}
{#                        </div>#}
{#                    </div>#}
{#                    <!-- /.modal-content -->#}
{#                </div>#}
{#                <!-- /.modal-dialog -->#}
{#            </div>#}
{#            <!-- /.modal -->#}
{#        </section>#}
{##}
{##}
{#        <!-- /.content -->#}
{#    </div>#}
{#    <!-- /.content-wrapper -->#}
{#>>>>>>> 22986b0c624a63ecf011ca56a803c1a366725f6c#}
{% endblock %}