{% extends "home/navbar.html" %}
{% load widget_tweaks %}

{% block body %}

    <div class="content-wrapper">
        <section class="content-header">
            <div class="header-icon">
                <i class="fa fa-users"></i>
            </div>
            <div class="header-title">
                <h1>Add Training</h1>
                <small>training list</small>
            </div>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- Form controls -->
                <div class="col-sm-12">
                    <div class="panel panel-bd lobidrag">

                        <div class="panel-body">
                            <form class="col-sm-6 form-group" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% include 'HR/form-template.html' %}
                                <div class="reset-button">
                                    <button type='submit' class="btn btn-success">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
{% endblock %}