{% extends 'home/navbar.html' %}
{% load widget_tweaks %}

{% block head %}
{% endblock %}

{% block body %}
    <a href="">Add a training</a>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="header-icon">
                <i class="fa fa-dashboard"></i>
            </div>
            <div class="header-title">
                <h1>Trainings</h1>
                <small>Very detailed & featured admin.</small>
            </div>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-bd lobidrag">
                        <div class="panel-heading">
                            <div class="btn-group" id="buttonexport">
                                <a href="#">
                                    <h4>User Details</h4>
                                </a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <!-- Plugin content:powerpoint,txt,pdf,png,word,xl -->
                            <div class="btn-group">
                                <div class="buttonexport">
                                    <a href="{% url 'users:hr:train_add' %}" class="btn btn-add" ><i
                                            class="fa fa-plus"></i> Add Users</a>

                                </div>
                                <div>
                                    <a href="#" class="btn btn-exp" data-toggle="modal" data-target="#addusercsv"><i
                                            class="fa fa-bars"></i>Import Table Data</a>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table id="dataTableExample1" class="table table-bordered table-striped table-hover">
                                    <thead>
                                    <tr class="info">
                                        <th>Trainee</th>
                                        <th>Trainer</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Description</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for training in object_list %}
                                        <tr>
                                            <td>{{ training.trainee }} </td>
                                            <td>{{ training.trainer }}</td>
                                            <td>{{ training.start_date }}</td>
                                            <td>{{ training.end_date }}</td>
                                            <td>{{ training.description }}</td>
                                            <td>
                                                <button type="button" class="btn btn-add btn-sm" data-toggle="modal"
                                                        data-target="#update"><i class="fa fa-user-o"></i></button>
                                                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                                                        data-target="#customer2"><i class="fa fa-trash-o"></i></button>
                                            </td>
                                        </tr>
                                    {% empty %}
                                        <td>Nothing to show</td>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- User Modal1 -->
            <div class="modal fade" id="update" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header modal-header-primary">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3><i class="fa fa-plus m-r-5"></i> Add new User</h3>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <form class="form-horizontal" method="POST">
                                        {% include 'HR/form-template.html' %}
                                        <fieldset>
                                            <!-- Text input-->
                                            <div class="col-md-6 form-group">
                                                <label class="control-label">Photo</label>
                                                <input name="filebutton" class="input-file" type="file">
                                            </div>
                                            <!-- Text input-->
                                            <div class="col-md-6 form-group">
                                                <label class="control-label">User Name</label>
                                                <input type="text" placeholder="User Name" class="form-control">
                                            </div>
                                            <!-- Text input-->
                                            <div class="col-md-6 form-group">
                                                <label class="control-label">status</label>
                                                <input type="text" placeholder="status" class="form-control">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label class="control-label">Type</label>
                                                <input type="text" placeholder="Type" class="form-control">
                                            </div>
                                            <div class="col-md-12 form-group user-form-group">
                                                <div class="pull-right">
                                                    <button type="button" class="btn btn-danger btn-sm">Cancel</button>
                                                    <button type="submit" class="btn btn-add btn-sm">Update</button>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <!-- Modal -->
            <!-- User Modal1 -->
            <div class="modal fade" id="adduser" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header modal-header-primary">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3><i class="fa fa-plus m-r-5"></i> Add new User</h3>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <form class="form-horizontal" method="POST">
                                        {% csrf_token %}
                                        <fieldset>
                                            <!-- Text input-->
                                            {#                                            <div class="col-md-6 form-group">#}
                                            {#                                                <label class="control-label">Photo</label>#}
                                            {#                                                <input name="filebutton" class="input-file" type="file">#}
                                            {#                                            </div>#}
                                            <!-- Text input-->
                                            <div class="col-md-6 form-group">
                                                <label class="control-label">Email</label>
                                                {#                                                <input type="text" placeholder="User Name" class="form-control">#}
                                                {% render_field users_temp.email placeholder="Email" class="form-control" %}
                                            </div>
                                            <!-- Text input-->
                                            <div class="col-md-6 form-group">
                                                <label class="control-label">Department</label>
                                                {#                                                <input type="text" placeholder="status" class="form-control">#}
                                                {% render_field users_temp.dept placeholder="Department" class="form-control" %}
                                            </div>
                                            {#                                            <div class="col-md-6 form-group">#}
                                            {#                                                <label class="control-label">Type</label>#}
                                            {#                                                <input type="text" placeholder="Type" class="form-control">#}
                                            {#                                            </div>#}
                                            <div class="col-md-12 form-group user-form-group">
                                                <div class="pull-right">
                                                    {#                                                    <button type="button" class="btn btn-danger btn-sm">Cancel</button>#}
                                                    <button type="submit" class="btn btn-add btn-sm">Add</button>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <div class="modal fade" id="addusercsv" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header modal-header-primary">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3><i class="fa fa-plus m-r-5"></i> Add new User</h3>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <form class="form-horizontal" method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <!-- Text input-->
                                        <div class="col-md-6 form-group">
                                            <label class="control-label">Upload a CSV file</label>
                                            {{ email_form.as_p }}
                                        </div>
                                        <div class="col-md-12 form-group user-form-group">
                                            <div class="pull-right">
                                                <button type="submit" class="btn btn-add btn-sm">Add</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- Modal -->
            <!-- delete user Modal2 -->
            <div class="modal fade" id="customer2" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header modal-header-primary">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3><i class="fa fa-user m-r-5"></i> Delete User</h3>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <form class="form-horizontal">
                                        <fieldset>
                                            <div class="col-md-12 form-group user-form-group">
                                                <label class="control-label">Delete User</label>
                                                <div class="pull-right">
                                                    <button type="button" class="btn btn-danger btn-sm">NO</button>
                                                    <button type="submit" class="btn btn-add btn-sm">YES</button>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock %}





<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if object_list %}
    {% for training in object_list %}
        <a href="{% url 'users:hr:train_detail' training.id %}">{{ training }}</a>
    {% endfor %}
{% else %}
    <div>
        <span> Add an Album</span>&nbsp;
    </div>
{% endif %}
</body>
</html>