<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h3>Adding Meeting Records</h3>
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    <form role="form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'HR/form-template.html' %}
        <div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </div>
    </form>

</body>
</html>