<li class="treeview">
    <a href="#">
        <i class="fa fa-users"></i><span>Customers</span>
        <span class="pull-right-container">
                     <i class="fa fa-angle-left pull-right"></i>
                     </span>
    </a>
    <ul class="treeview-menu">
        <li><a href="{% url "sales:add_customer">Add Customer</a></li>
        <li><a href="{% url "sales:customer_list" %}">List</a></li>
{#        <li><a href="group.html">Groups</a></li>#}
    </ul>
</li>

<li class="treeview">
    <a href="#">
        <i class="fa fa-shopping-cart"></i><span>Sales</span>
        <span class="pull-right-container">
                     <i class="fa fa-angle-left pull-right"></i>
                     </span>
    </a>
    <ul class="treeview-menu">
        <li><a href="invoice.html">Invoices</a></li>
        <li><a href="ninvoices.html">New Invoices</a></li>
        <li><a href="recurring.html">Recurring invoices</a></li>
        <li><a href="nrecurring.html">New Recurring invoices</a></li>
        <li><a href="quote.html">quotes</a></li>
        <li><a href="nquote.html">New quote</a></li>
        <li><a href="payment.html">Payments</a></li>
        <li><a href="taxeport.html">Tax Rates</a></li>
    </ul>
</li>